.productDetailBaseInfo{
  box-shadow: 0 5px 12px 0 rgba(224,224,224,0.50);
  .pdb1{
    img{
      width: 100%;
    }
  }
  .pdbc{
    font-family: PingFangSC-Regular;
    font-size: 28px;
    color: #FD5C0E;
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    margin: 0px 0 15px 0;
  }
  .pdb2{
    padding: 0 30px;
    font-size: 36px;
    background-color: #fff;
    .pdb2_1{
      padding: 30px 0 20px;
    }
    .pdb2_Type{
      margin: 0 10px;
    }
    .pdb2_2{
      color: #999999;
      font-size: 24px;
      line-height: 36px;
      padding-bottom: 14px;
      border-bottom: 1px solid #E6E6E6;
    }
  }
  .pdb3{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    //height: 96px;
    background-color: #fff;
    
    .pdb3_1{
      flex: 1;
      .pdb3_1_0{
        color: #333;
        //flex: 1;
        font-size: 30px;
        margin-bottom: 10px;
      }
      .pdb3_1_1{
        color: #FD5C0E;
        //flex: 1;
        font-size: 36px;
      }
    }
    
    .pdb3_2,.pdb3_3{
      text-align: center;
      color: #666666;
      font-size: 20px;
      img{
        margin-bottom: 4px;
        width: 32px;
        height: 32px;
      }
    }
    .pdb3_2{
      margin-right: 40px;
    }
  }

}