@import "../../../assets/css/commonCss";

.activity-details-page {
  font-size: 28px;

  .details-module {
    background: #FFFFFF;
    padding: 0px 30px 30px;
    box-shadow: 0 5px 12px 0 rgba(224,224,224,0.50);

  }

  .activity-info {
    padding-top: 40px;

    .title {
      font-size: 36px;
      line-height: 40px;
    }
    .activity-status {
      margin-top: 28px;
      padding-bottom: 22px;
      border-bottom: 1px solid #E6E6E6;
      > div {
        margin-right: 51px;
      }
      span {
        font-size: 24px;
        color: #999;
        margin-left: 10px;
      }
    }
    .activity-text {
      p {
        margin-top: 20px;
      }
      img {
        width: 100%;
      }
    }
  }

  .sign-up-container {
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    .sign-up-title {
      height: 80px;
      line-height: 80px;
      text-align: center;
      color: @color_orange;
      font-size: 30px;
      margin-bottom: 30px;
      background: url("~assets/images/activity/title_bg.png");
      background-size: 100% 100%;

    }

    .am-list-item.am-input-item {
      height: auto;
      border: 1px solid @color_line;
      border-radius: 10px;
      margin: 0 30px;
      margin-bottom: 20px;
      &.active {
        border-color: @color_orange;
      }
      &.form-input {
        .am-list-line {
          flex-direction: column;
          align-items: flex-start;
          padding: 14px 0px;
          .am-input-label {
            font-size: 24px;
            color: #0F68B0;
            width: 100%;
          }
          .necessary:after {
            content: '*';
            color: @color_orange;
          }
        }
        .am-input-control {
          font-size: 25px;
          width: 100%;
        }
      }

      &.form-code {
        .am-list-line {
          flex-direction: row-reverse;
        }
        .am-input-label {
          font-size: 28px;
          color: @color_orange;
          width: auto;
          margin-right: 0px;
        }
      }

    }



    .submit-btn {
      height: 88px;
      background: @color_orange;
      border-radius: 10px;
      color: #FFFFFF;
      line-height: 88px;
      font-size: 36px;
      margin: 40px 30px 0px;
      //box-shadow: 0 10px 70px 0px @color_orange;
      box-shadow: 0 5px 12px 0 rgba(253, 92, 14, 0.5);
    }

    .statement {
      margin: 35px 30px;
      font-size: 24px;
      line-height: 32px;
      > span:nth-of-type(1) {
        color: #666;
        margin-left: 12px;
        white-space: nowrap;
        vertical-align: middle;
      }
      > span:nth-of-type(2) {
        color: #0F68B0;
        vertical-align: middle;
      }
    }
  }

  .hot-comment {
    margin-top: 30px;
    background: #FFFFFF;
    padding: 0px 30px;
    box-shadow: 0 5px 12px 0 rgba(224,224,224,0.50);
    .comment-header {
      line-height: 76px;
      > div:first-child {
        font-size: 30px;
      }
      
      > div:nth-child(2) {
        color: @color_orange;
        .icon-comment {
          font-size: 30px;
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }
    .comment-list {
      .comment-item {
        padding: 20px 0px;
        border-bottom: 1px solid #E6E6E6;
        .header-img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        .comment-info {
          margin-left: 30px;

        }
        .iconfont {
          font-size: 22px;
        }
        .ml-30 {
          margin-left: 30px;
        }
        .comment-content {
          font-size: 24px;
          line-height: 40px;
          margin-top: 20px;
        }

        .reply-container {
          position: relative;
          .arrow-up {
            width: 0px;
            border-bottom: 15px solid #F4F5F7;
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
            position: relative;
            left: 26px;
            margin-top: 20px;
          }
          .reply-wrap {
            background: #F4F5F7;
            padding: 30px 20px;
            .reply-text {
              margin-top: 12px;
            }

          }
        }
      }
    }
  }

  .look-more-wrap {
    width: 100%;
    height: 134px;
    background: #FFFFFF;
    padding-top: 30px;
    box-shadow: 0 5px 12px 0 rgba(224,224,224,0.50);
    .more-btn {
      width: 200px;
      height: 60px;
      line-height:  60px;
      border: 1px solid @color_orange;
      font-size: 28px;
      color: @color_orange;
      margin: 0 auto;

    }
  }

  .qrcode-wrap {
    text-align: center;
    padding-bottom: 34px;
    > img {
      width: 121px;
      height: 121px;
      display: block;
      margin: 40px auto 24px;

    }
  }


  //checkbox
  .checkbox {
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    border: 1px solid #888;
    border-radius: 4px;
    background: #FFFFFF;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    > svg {
      color: #FFFFFF;
      width: 22px;
      height: 22px;
      position: absolute;
      top: 2px;
      left: 1px;
    }

    &.active {
      background: #0F68B0;
      border-color: #0F68B0;
    }
  }



}

.comment-form {
  padding: 0px 30px;
  color: #333;
  .title {
    text-align: left;
    font-size: 30px;
    line-height: 76px;
  }
  .comment-textarea {
    border: 1px solid #E6E6E6;
    border-radius: 10px;
  }
  .submit-comment-btn {
    width: 160px;
    height: 60px;
    line-height: 60px;
    font-size: 28px;
    background: @color_orange;
    color: #FFFFFF;
    margin: 30px 0 20px;
  }
}