@import "../../../assets/css/commonCss";

.inquire-dealer-page {
  padding-top: 80px;

  .my-tab-bar {
    border-bottom: 2px solid #fff;
    margin-top: -2px;
    height: 80px;
    line-height: 80px;

  }
  .am-tabs-default-bar-tab-active {
    .my-tab-bar {
      border-bottom-color: #FD5C0E;
    }
  }

  .am-tabs-tab-bar-wrap {
    position: fixed;
    width: 78%;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: #FFFFFF;
    padding: 0 24px;
    border-bottom: 1px solid #E6E6E6;
    .am-tabs-default-bar-top .am-tabs-default-bar-tab:after {
      display: none;
    }
  }

  .position-wrap {
    position: fixed;
    width: 22%;
    height: 81px;
    top: 0px;
    right: 0px;
    z-index: 2;
    background: #FFFFFF;
    border-bottom: 1px solid #E6E6E6;
    color: @color_orange;
    font-size: 24px;
    .line {
      height: 50px;
      width: 1px;
      background: #E6E6E6;
      position: absolute;
      left: 0px;
      top: 15px;
    }
    .iconfont {
      font-size: 30px;
      margin-right: 5px;
    }

  }

  .inquiry-list {
    .inquiry-item {
      margin-top: 30px;
      background: #FFFFFF;
      padding: 30px;
      box-shadow: 0 5px 12px 0 rgba(224,224,224,0.50);
      .inquiry-header {
        .company-name {
          font-size: 30px;
        }
      }
      .address {
        color: #999;
        margin-top: 16px;
        .iconfont {
          font-size: 24px;
          margin-right: 10px;
        }
      }
      .ml-34 {
        margin-left: 34px;
        margin-top: 4px;
      }
      .lottery-text {
        height: 70px;
        border-top: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        line-height: 70px;
        font-size: 24px;
        margin-top: 30px;
        .icon-yundian {
          width: 38px;
          height: 28px;
          display: inline-block;
          background: url("@{images}/carModel/yundian.png");
          background-size: 100% 100%;
          vertical-align: middle;
          margin-right: 9px;
          margin-bottom: 4px;
        }
      }

      .price-wrap {
        height: 100px;
        .iconfont {
          font-size: 26px;
          color: #0F68B0;
          margin-left: 14px;
        }
      }

      .btn-list {
        margin-top: 30px;
      }

      .inquiry-btn {
        width: 210px;
        height: 60px;
        line-height: 60px;
        font-size: 28px;
        border: 1px solid @color_orange;
        color: @color_orange;
        border-radius: 10px;
      }

      .btn-orange {
        background: @color_orange;
        color: #FFFFFF;
      }
    }

    .price-tips {
      color: #999;
      padding: 38px 30px;
      .iconfont {
        font-size: 24px;
        margin-right: 8px;
      }
    }
  }
}