@charset "utf-8";
.b_private .m_icon{background-position: -60px 0}
.b_weixian .p_hd{height: 34px;padding-left:15px; line-height: 34px; background: url(../../images/uCenter/tit_bg.png) repeat-x; border: 1px solid #eee;}
.b_weixian .p_bd{width:708px;_width:705px;padding: 10px 20px 13px 20px;background: #e0effd; border: 1px solid #c7e3ff; border-top: 0;overflow: hidden;zoom:1;}
.b_weixian .p_reply{height: 40px; line-height: 40px;zoom:1;}
.b_weixian .textarea{width: 100%; zoom:1; overflow: hidden;}
.b_weixian .p_textarea{display:inline; width:696px; height: 73px; border: 1px solid #c7e3ff;padding: 0 5px; border-radius:3px; line-height: 22px; outline: none; resize:none; overflow: auto;zoom:1;}
.b_list li{display: block; margin-bottom:22px;overflow: hidden;zoom:1;}
.b_list .rec{position:relative;float: left; width: 31px;height: 8px; margin-top:2px;background: url(../../images/uCenter/reply_icon.png) no-repeat;z-index: 2;overflow: hidden;}

.b_list li img{float: left;}
.b_list .b_opt .date{color: #b4b4b4;}
.b_list .name{color: #4c8dd6;}
.b_list .count{float: left;width:525px; padding:8px 20px; margin-top:2px; border: 1px solid #4c8dd6; background: #f5fafe;border-radius: 3px; margin-left: -3px;line-height: 18px;}
.b_list .b_opt span{color: #4c8dd6;padding-left: 15px;}
.ps{clear:both; padding-top:15px; overflow: hidden;}
#ptips{float: right;line-height: 26px; padding-right: 10px;}
.p_bd a{float:right; display: block;height:26px; padding: 0 15px; line-height: 26px; background: #aaa; border-radius: 3px; color: #fff;}
.p_bd a:hover{color: #fff;}
.green{color:#73bd04; font-weight: bold; font-size: 14px;}

.b_list .me img{float: right; margin-left: 15px; margin-right: 0;}
.b_list .me .rec{float: right;background-position: 0 -9px;}
.b_list .me .count{float: right; margin-left: 0;margin-right: -3px;border-color: #ffa047;background: #fffaf6;}
.b_list .me .b_opt span,.b_list .me .name{color: #ffa047;}
