@charset "utf-8";
.l_hd{padding-top: 18px; padding-bottom: 10px;border-bottom: 4px solid #3278c6; overflow: hidden;}
.logo{margin-top: 2px;}
.text{border-left:1px solid #3278c6; height: 29px; line-height: 29px;}
.rt{width: 300px;}
.rt .tit{height: 64px;line-height: 64px;}

.input{ height: 31px;border-radius: 2px;  border:1px solid #b1b5c4;padding-left:5px; 
		padding-right:5px;font-family: arial;color: #333; }
.login .input{width:258px;margin-bottom:16px;padding-left:35px; background: url(../images/login_reg/login_icon.png) no-repeat 7px 0;}
.login .pwd{background-position: 7px -33px;}
.checked{width:15px; height: 15px;}
.btn{width: 100%; height: 34px; background: #ffa047; border: 0; cursor: pointer;border-radius: 3px; color: #fff;}
.oth_log{border-top:1px solid #ddd;}
.tips,.log_list li a{color: #b1b5c4;}

.log_list li{float:left; line-height: 20px;margin-right: 40px;}
.log_list li.mr0{margin-right: 0;}
.log_list span{float: left;}
.log_list .icon{display:block;width:20px;height: 20px;padding-right:5px;background: url(../images/login_reg/login_icon1.png) no-repeat 0 0;}
.log_list .qq{background-position: 0 -20px;}


/*注册*/
.goto{padding-right: 50px;}
.goto .b_text{color: #aeb5cd;padding-right: 15px;}
.goto .b_btn{display: inline-block;width:60px; height:30px; line-height:30px;background: #3278c6; border-radius: 3px; color: #fff;}
.w360{width: 360px;}
.w65{width: 60px; padding-right: 15px;}
.table{width: 100%; table-layout:fixed;}
.table td{padding-bottom: 17px; color: #484848;}
.reg .input{width:278px;}
.reset{background: #d6dae8; color: #666;}
.wcode .input{float:left;width:100px; margin-right: 15px;}
.wcode img{float:left;width:82px; height: 31px; margin-right: 10px;border:1px solid #ccc; cursor: pointer;}
.wcode a{line-height: 31px;}

/*admin登录页面*/
.wp{position:absolute; width: 100%; height: 100%;background: #3278C6; overflow: hidden;}
.wp .admin{padding-top: 150px;}
.admin .input{width:258px; border-color: #fff;} 
.admin .wcode .input{width: 100px;}
.admin .table td{color: #fff;}
.admin .btn{background: rgb(6, 65, 139);}